body {
  background: white url("../images/background.e51cec9c5742.jpg");
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
div {
  align-items: center;
  align-content: center;
  align-self: center;
  color: white;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  text-justify: auto;
}
html {
  scroll-behavior: smooth;
}
